/*
Theme Name: Keyword
Theme URI: https://www.happythemes.com/wordpress-themes/keyword/
Author: HappyThemes
Author URI: https://www.happythemes.com
Description: Keyword is an awesome blog WordPress theme for free. Designed by <a href="https://www.happythemes.com" target="_blank">HappyThemes</a>.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: keyword
Tags: two-columns, right-sidebar
*/
/*--------------------------------------------------------------
0. Reset
--------------------------------------------------------------*/
html {
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  word-wrap: break-word;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  color: #4d626e;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #4d626e;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

sup {
  top: -.5em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure > img {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

img[class*="align"],
img[class*="attachment-"] {
  height: auto;
}

embed,
iframe,
object {
  max-width: 100%;
  width: 100%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.5075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
1. Defaults
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: #4d626e;
  font-weight: bold;
}

strong,
b {
  font-weight: bold;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="tel"],
textarea {
  font-size: 15px;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  outline: none;
  color: #4d626e;
}

input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #bfbfbf;
  outline: none;
}

textarea {
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 10px 15px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="tel"] {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}

button,
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-bottom: 2px solid rgba(50, 50, 50, 0.1);
  border-radius: 3px;
  color: #fff;
  padding: 0 15px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0.85em;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}

button:hover,
.btn:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #fff;
  opacity: 0.85;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

button:focus,
textarea:focus {
  outline: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  font-size: 17px;
  border-width: 1px;
  border-color: #e9e9e9;
  border-collapse: collapse;
  width: 100%;
}

table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #e6e6e6;
  background-color: #f0f0f0;
}

table tr:hover td {
  background-color: #f9f9f9;
}

table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #e6e6e6;
  background-color: #ffffff;
}

select {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 0 .75em;
  height: 2.507em;
  font-size: .97em;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: color .3s, border .3s, background .3s, opacity .3s;
  box-shadow: inset 0 -1.4em 1em 0 rgba(0, 0, 0, 0.02);
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/wp-content/themes/keyword/assets/img/arrow-down.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  border-radius: 0;
}

.alignleft {
  float: left;
  margin: 0 25px 25px 0;
}

.alignright {
  float: right;
  margin: 0 0 25px 25px;
}

.aligncenter {
  display: block;
  margin: 0 auto 25px auto;
  text-align: center;
  clear: both;
}

.alignnone {
  display: block;
}

/* Clear Floats */
.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  clear: both;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.sticky,
.bypostauthor {
  background: inherit;
  color: inherit;
}

body {
  background: #fafafa;
  color: #4d626e;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.55em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: underline;
  transition: all 0.2s ease-in;
}

a:hover {
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
}

.container {
  margin: 0 auto;
  width: 1120px;
}

/* =Genericons, thanks to FontSquirrel.com for conversion!
-------------------------------------------------------------- */
@font-face {
  font-family: 'Genericons';
  src: url("/wp-content/themes/keyword/genericons/font/genericons-regular-webfont.eot");
  src: url("/wp-content/themes/keyword/genericons/font/genericons-regular-webfont.eot#iefix") format("embedded-opentype"), url("/wp-content/themes/keyword/genericons/font/genericons-regular-webfont.woff") format("woff"), url("/wp-content/themes/keyword/genericons/font/genericons-regular-webfont.ttf") format("truetype"), url("/wp-content/themes/keyword/genericons/font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Genericons */
.bypostauthor > article .fn:before,
.comment-edit-link:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.comment-list .children li:before,
.contributor-posts-link:before,
.menu-toggle:before,
.search-toggle:before,
.slider-direction-nav a:before,
.widget_happythemes_ephemera .widget-title:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 16px/1 Genericons;
  text-decoration: inherit;
  vertical-align: text-bottom;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#masthead .container {
  position: relative;
}

.header-space {
  height: 75px;
}

body.admin-bar .site-header {
  top: 32px;
}

body.admin-bar .breadcrumbs {
  top: 107px;
}

@media screen and (max-width: 782px) {
  body.admin-bar .site-header {
    top: 46px;
  }
  body.admin-bar .breadcrumbs {
    top: 121px;
  }
}

.site-header {
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 75px;
  line-height: 1;
  z-index: 9999 !important;
  -webkit-transition: height .25s ease;
  transition: height .25s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.site-header.site-header-scrolled {
  height: 60px;
}

.site-header.site-header-scrolled .search-icon {
  top: 22px;
}

.site-header.site-header-scrolled .header-search {
  top: 60px;
}

.site-header.site-header-scrolled .site-branding #logo {
  height: 60px;
}

.site-header.site-header-scrolled .site-branding #logo img {
  max-height: 60px;
}

.site-header.site-header-scrolled .site-branding .site-title {
  line-height: 60px;
}

.site-header.site-header-scrolled .sf-menu li {
  line-height: 60px;
}

.site-header.site-header-scrolled .sf-menu li li {
  line-height: 1.5;
}

.site-header.site-header-scrolled .header-cart {
  line-height: 60px;
}

.site-header.site-header-scrolled .header-cart .widget_shopping_cart {
  top: 60px;
}

.site-header.no-header-search .header-cart {
  right: 0;
}

.site-header.no-header-search .slicknav_btn {
  margin-right: 5px;
}

.site-header .search-icon {
  display: block;
  position: absolute;
  top: 28px;
  right: 0;
  -webkit-transition: top .25s ease;
  transition: top .25s ease;
}

.site-header .search-icon:hover {
  cursor: pointer;
}

.site-header .search-icon span {
  color: #4d626e;
  font-weight: bold;
  vertical-align: middle;
  transition: 0.2s ease-in;
}

.site-header .search-icon .genericon-search.active {
  display: none;
}

.site-header .search-icon .genericon-close {
  display: none;
}

.site-header .search-icon .genericon-close.active {
  display: inline-block;
}

.search-input {
  background: #fff;
  border: 1px solid #ddd;
  outline: none;
  height: 38px;
  line-height: 38px;
  color: #4d626e;
  text-indent: 5px;
}

.search-input:focus {
  background-color: #fff;
  border-color: #bfbfbf;
}

.search-submit {
  border-left: none;
  color: #8E99A9;
  font-size: 15px;
  font-weight: 600;
  height: 38px;
  line-height: 1;
  outline: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

/* Header Search */
.header-search {
  display: none;
  background-color: #fff;
  line-height: 1;
  width: 300px;
  height: 60px;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 2;
  box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
  -webkit-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
  -webkit-transition: top .25s ease;
  transition: top .25s ease;
}

.header-search:after {
  color: #8E99A9;
  font-family: 'Genericons';
  font-size: 22px;
  content: '\f400';
  position: absolute;
  top: 19px;
  left: 24px;
}

.header-search .search-input {
  background: #fff;
  color: #4d626e;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  padding-left: 35px;
  position: absolute;
  width: 188px;
  top: 14px;
  left: 14px;
}

.header-search .search-submit {
  color: #fff;
  font-size: 14px;
  height: 32px;
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0 5px;
  width: 80px;
  text-transform: uppercase;
}

.header-search .search-submit:hover {
  opacity: 0.85;
}

/*--------------------------------------------------------------
2.1 Logo
--------------------------------------------------------------*/
.site-branding {
  float: left;
  text-align: left;
}

.site-branding #logo {
  height: 75px;
  -webkit-transition: height .25s ease;
  transition: height .25s ease;
}

.site-branding .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.site-branding img {
  max-height: 75px;
  vertical-align: middle;
}

.site-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 75px;
  -webkit-transition: height .25s ease;
  transition: height .25s ease;
}

.site-title a {
  color: #4d626e;
  display: block;
}

/*--------------------------------------------------------------
2.1 Navigation Menu
--------------------------------------------------------------*/
/* Essential Styles */
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu li {
  position: relative;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.sf-menu ul ul {
  top: 1px;
  left: 225px;
}

.sf-menu > li {
  float: left;
}

.sf-menu a {
  display: block;
  position: relative;
}

/* Theme Navigation Skin */
.sf-menu {
  float: left;
}

.sf-menu ul {
  background-color: #fff;
  width: 240px;
  padding: 0 15px;
  box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
  -webkit-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
}

.sf-menu a {
  text-decoration: none;
  zoom: 1;
  /* IE7 */
}

.sf-menu li {
  white-space: nowrap;
  /* no need for Supersubs plugin */
  line-height: 75px;
}

.sf-menu li a {
  color: #4d626e;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 15px;
}

.sf-menu li a:before {
  border-bottom: 3px solid;
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.sf-menu li a:hover {
  color: #4d626e;
}

.sf-menu li a:hover:before {
  transform: scaleX(1);
}

.sf-menu li.sfHover a:before,
.sf-menu li.current-menu-item a:before,
.sf-menu li.current-menu-item a:hover:before {
  transform: scaleX(1);
}

.sf-menu li li {
  height: auto;
  line-height: 1.5;
  border-bottom: 1px solid #f0f0f0;
}

.sf-menu li li:last-child {
  border-bottom: none;
}

.sf-menu li li a {
  background: none !important;
  color: #4d626e;
  font-size: 15px;
  padding: 12px 0;
}

.sf-menu li li a:before {
  content: none;
}

.sf-menu li li ul {
  margin-top: -1px;
}

.sf-menu li:hover li a,
.sf-menu li.sfHover li a {
  color: #4d626e;
  display: block;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 25px;
}

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  position: absolute;
  top: 50%;
  right: 23px;
  margin-top: -7px;
  height: 0;
  width: 0;
  content: '\f431';
  font: normal 14px/1 'Genericons';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-moz-document url-prefix() {
  .sf-arrows .sf-with-ul:after {
    margin-top: -6px;
  }
}

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  right: 5px;
  margin-top: -5px;
  margin-right: 0;
  content: '\f501';
  font: normal 9px/1 'Genericons';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Primary Menu */
#primary-menu {
  margin-left: 20px;
}

.cart-data .count {
  background-color: #fff;
  border: 2px solid;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 28px;
  line-height: 24px;
  padding: 0 7px;
  position: relative;
  text-align: center;
  -webkit-transition: top .25s ease;
  transition: top .25s ease;
}

.cart-data .count:after {
  border: 2px solid;
  border-bottom: none;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  content: " ";
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  transition: height .1s ease-out;
}

/* Header Newsletter */
.header-newsletter {
  background: linear-gradient(to bottom right, #c26bd6 0%, #3123ae 100%);
  padding: 55px 50px 65px;
  text-align: center;
}

.header-newsletter .widget-title {
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  line-height: 1.15;
  margin-bottom: 20px;
}

.header-newsletter .newsletter-widget {
  color: rgba(255, 255, 255, 0.7);
}

.header-newsletter .newsletter-widget p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4em;
  margin-bottom: 30px;
  padding: 0 100px;
}

.header-newsletter .newsletter-widget input[type="text"],
.header-newsletter .newsletter-widget input[type="email"],
.header-newsletter .newsletter-widget input[type="url"],
.header-newsletter .newsletter-widget input[type="search"],
.header-newsletter .newsletter-widget input[type="password"] {
  border: none;
  margin: 0 4px 0 0;
}

/*--------------------------------------------------------------
3. Homepage
--------------------------------------------------------------*/
.entry-title a,
.entry-title a:visited {
  color: #4d626e;
  text-decoration: none;
}

/* Site Content */
.site-content {
  padding: 40px 0;
}

.page-template-featured-posts .site-content,
.page-template-home-blog .site-content,
.page-template-home-list .site-content,
.page-template-home-grid .site-content,
.search .site-content {
  margin-top: 50px;
}

#primary {
  float: left;
  width: 725px;
}

.thumbnail-wrap {
  position: relative;
}

.thumbnail-wrap .video-length {
  display: none;
  position: absolute;
  right: 3px;
  bottom: 3px;
  background-color: #4d626e;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1;
  font-size: 11px;
  padding: 2px 3px;
}

/*--------------------------------------------------------------
3.2 Recent Content
--------------------------------------------------------------*/
.breadcrumbs {
  text-align: center;
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: 75px;
  width: 100%;
  left: 0;
  overflow: hidden;
}

.breadcrumbs h1, .breadcrumbs h2, .breadcrumbs h3 {
  color: #fff;
  font-size: 1.4em;
  margin-bottom: 0;
}

.breadcrumbs .breadcrumbs-nav {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.breadcrumbs .breadcrumbs-nav a {
  background: url("/wp-content/themes/keyword/assets/img/arrow-right-white.png") no-repeat right 8px;
  background-size: 8px 8px;
  color: #fff;
  padding-right: 18px;
  margin-right: 4px;
  text-decoration: none;
}

.breadcrumbs .breadcrumbs-nav a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.content-list .hentry {
  position: relative;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 40px;
  padding: 30px;
  position: relative;
  transition: all 0.2s ease-in;
}

.content-list .hentry:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}

.content-list .thumbnail-link {
  float: left;
  width: 220px;
  margin: 0 25px 0 0;
  line-height: 1;
}

.content-list .thumbnail-link img {
  width: 100%;
  height: auto;
}

.content-list .entry-title {
  font-size: 1.8em;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 15px;
}

.content-list .entry-meta {
  margin-bottom: 15px;
}

.content-list .entry-meta a {
  font-weight: bold;
}

.content-list .sep {
  color: #bbb;
  padding: 0 7px;
}

.content-list .entry-overview {
  display: table;
}

.content-list .entry-summary {
  display: table;
  margin-bottom: 0;
}

.content-list .entry-footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 25px;
  padding-top: 30px;
  position: relative;
}

.content-list .entry-footer:after {
  clear: both;
  content: " ";
  display: block;
}

.content-list .read-more {
  float: left;
}

.content-list .entry-comment {
  background: url("/wp-content/themes/keyword/assets/img/chat.png") 0 5px no-repeat;
  background-size: 20px 20px;
  margin-top: 8px;
  padding: 0 0 0 32px;
  float: right;
}

.content-list .entry-comment a {
  font-weight: bold;
}

.content-loop .thumbnail-link {
  display: block;
  width: 100%;
  position: relative;
  line-height: 1;
  text-align: center;
}

.content-loop .thumbnail-link img {
  width: 100%;
  height: auto;
}

.content-loop .entry-title {
  font-size: 2.6em;
  line-height: 1.1em;
}

.content-loop .entry-meta {
  margin-bottom: 10px;
}

.content-loop .entry-summary p {
  display: inline;
}

.post-link {
  display: block;
  position: relative;
}

.content-loop .thumbnail-wrap,
.single article.hentry .thumbnail-wrap {
  line-height: 1;
}

.content-loop .thumbnail-wrap img,
.single article.hentry .thumbnail-wrap img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.content-loop .entry-header,
.single article.hentry .entry-header {
  padding: 0 40px;
}

.content-loop .entry-title,
.single article.hentry .entry-title {
  font-weight: 900;
}

.content-loop .entry-meta,
.single article.hentry .entry-meta {
  height: 80px;
  line-height: 115px;
  margin-top: -25px;
}

.content-loop .entry-meta a,
.single article.hentry .entry-meta a {
  font-weight: bold;
}

.content-loop .entry-author,
.single article.hentry .entry-author {
  margin-right: 20px;
}

.content-loop .entry-author .avatar,
.single article.hentry .entry-author .avatar {
  border-radius: 50%;
  float: left;
  width: 80px;
  height: auto;
  margin: 0 15px 0 0;
}

.content-loop .entry-category,
.single article.hentry .entry-category {
  color: #76838b;
  position: relative;
  margin-bottom: 30px;
}

.content-loop .entry-Category: after,
.single article.hentry .entry-Category: after {
  background-color: #e7e7e7;
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 14px;
}

.content-loop .entry-category a,
.single article.hentry .entry-category a {
  font-weight: bold;
}

.content-loop .entry-category span,
.single article.hentry .entry-category span {
  background-color: #fff;
  padding-right: 20px;
  z-index: 10;
  position: relative !important;
}

.content-loop .hentry {
  margin-bottom: 40px;
  position: relative;
}

.content-loop .entry-summary {
  color: #677279;
  font-size: 1.25em;
  padding: 0 40px;
}

.content-loop .entry-footer {
  border-top: 1px solid #e7e7e7;
  margin: 30px 40px 0;
  padding: 30px 0 40px;
  position: relative;
}

.content-loop .entry-comment {
  background: url("/wp-content/themes/keyword/assets/img/chat.png") 0 5px no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 32px;
  position: absolute;
  top: 38px;
  right: 0;
}

.content-loop .entry-comment a {
  font-weight: bold;
}

.content-loop .entry-title {
  margin-bottom: 25px;
}

.content-loop .entry-title a:hover {
  text-decoration: none;
}

.content-loop .entry-summary {
  display: table;
}

.content-loop .entry-summary p {
  display: inline;
}

.read-more a,
.read-more a:visited {
  background-color: #fff;
  border: 2px solid #4d626e;
  border-radius: 3px;
  box-shadow: none;
  color: #4d626e;
  display: inline-block;
  font-weight: 700;
  padding: 0 50px;
  line-height: 44px;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.read-more a:hover {
  background-color: #4d626e;
  color: #fff;
}

.content-loop .entry-meta,
.content-list .entry-meta,
.content-grid .entry-meta,
.content-search .entry-meta,
.single #primary .entry-meta {
  color: #76838b;
  position: relative;
}

.content-loop .entry-meta .entry-author a,
.content-list .entry-meta .entry-author a,
.content-grid .entry-meta .entry-author a,
.content-search .entry-meta .entry-author a,
.single #primary .entry-meta .entry-author a {
  font-weight: bold;
}

.content-loop .entry-meta,
.single #primary .entry-meta {
  margin-bottom: 25px;
}

.content-grid .hentry {
  float: left;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.06);
  position: relative;
  transition: all 0.2s ease-in;
}

.content-grid .hentry:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}

.content-grid .hentry:nth-of-type(2n) {
  margin-right: 0;
}

.content-grid .hentry:nth-of-type(2n+1) {
  clear: left;
}

.content-grid .thumbnail-link {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 0 15px 0;
  line-height: 0.5;
  text-align: center;
}

.content-grid .thumbnail-link img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: auto;
}

.content-grid .entry-overview {
  padding: 10px 30px 30px 30px;
}

.content-grid .entry-title {
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1.15em;
  margin-bottom: 15px;
}

.content-grid .entry-meta {
  margin-bottom: 10px;
}

.content-grid .entry-meta a {
  font-weight: bold;
}

.content-grid .sep {
  color: #bbb;
  padding: 0 7px;
}

.content-grid .entry-summary {
  display: block;
}

.content-grid .entry-footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}

.content-grid .entry-footer:after {
  clear: both;
  content: " ";
  display: block;
}

.content-grid .entry-comment {
  background: url("/wp-content/themes/keyword/assets/img/chat.png") 0 5px no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  float: left;
}

.content-grid .entry-comment a {
  font-weight: bold;
}

.content-grid .entry-more {
  float: right;
}

.content-grid .entry-more a {
  background: url("/wp-content/themes/keyword/assets/img/arrow-right-gray.png") no-repeat right 8px;
  background-size: 9px 9px;
  color: #76838b;
  padding-right: 15px;
  text-decoration: none;
}

.content-grid .entry-more a:hover {
  color: #4d626e;
}

.page-template-home-grid .site-main {
  padding-bottom: 0;
}

/*--------------------------------------------------------------
3.3 Pagination
--------------------------------------------------------------*/
.pagination {
  border-top: none;
  margin: 20px 0 40px;
  width: 100%;
  text-align: center;
}

.pagination .page-numbers {
  background-color: #fff;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #4d626e;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  margin: 0 1px;
  padding: 0 15px;
  line-height: 40px;
  text-decoration: none;
}

.pagination .page-numbers:hover {
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.2);
  color: #4d626e;
  text-decoration: none;
}

.pagination .page-numbers.dots:hover {
  color: #4d626e;
}

.pagination .prev,
.pagination .next {
  position: relative;
}

/*--------------------------------------------------------------
4. Single Post/Page
--------------------------------------------------------------*/
.single #primary {
  padding: 0 0 40px 0;
}

.single-post .site-header {
  position: static;
}

.single-post .header-space {
  display: none;
}

.single-post .single-breadcrumbs a {
  transition: none;
}

.single-post .single-breadcrumbs .entry-share {
  display: none;
  position: absolute;
  right: 20px;
  top: 12px;
}

.single-post .single-breadcrumbs .entry-share a,
.single-post .single-breadcrumbs .entry-share a:visited {
  width: 26px;
  height: 26px;
  line-height: 26px;
  margin: 0 1px;
  padding: 0;
}

.single-post .single-breadcrumbs .entry-share a img,
.single-post .single-breadcrumbs .entry-share a:visited img {
  float: none;
  margin: 6px auto 0 auto;
}

.single-post .single-breadcrumbs .entry-share a span,
.single-post .single-breadcrumbs .entry-share a:visited span {
  border: none;
  margin: 0;
  padding: 0;
  text-indent: -9999em;
}

.single-post .single-breadcrumbs.fixed-breadcrumbs {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: left;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12);
}

.single-post .single-breadcrumbs.fixed-breadcrumbs .breadcrumbs-nav {
  padding-left: 25px;
  color: #76838b;
  text-transform: none;
}

.single-post .single-breadcrumbs.fixed-breadcrumbs .breadcrumbs-nav a {
  background: url("/wp-content/themes/keyword/assets/img/arrow-right-gray.png") no-repeat right 8px;
  background-size: 8px 8px;
  text-decoration: underline;
}

.single-post .single-breadcrumbs.fixed-breadcrumbs .breadcrumbs-nav a:hover {
  text-decoration: none;
}

.single-post .single-breadcrumbs.fixed-breadcrumbs .entry-share {
  display: block;
}

.single-post .site-content {
  margin-top: 50px;
}

.single-post .entry-content {
  padding: 0 40px;
}

.single-post .entry-date {
  margin-right: 20px;
}

.single-post .entry-comment {
  background: url("/wp-content/themes/keyword/assets/img/chat.png") 0 2px no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 32px;
}

.error404 #primary,
.page-template-default #primary,
.page-template-full-width #primary {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.06);
  padding: 40px;
  position: relative;
  transition: all 0.2s ease-in;
}

.customized-content {
  font-size: 1.25em;
}

.customized-content p {
  line-height: 1.55em;
}

.page-title {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 25px;
  line-height: 1.1;
}

.entry-share {
  position: relative;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.entry-share a,
.entry-share a:visited {
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  height: 38px;
  margin: 0 8px 0 0;
  padding: 0 13px;
  -webkit-backface-visibility: hidden;
}

.entry-share a img,
.entry-share a:visited img {
  display: block;
  float: left;
  width: 14px;
  height: auto;
  margin: 12px 0 0 0;
}

.entry-share a span,
.entry-share a:visited span {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 12px;
}

.entry-share a.twitter span, .entry-share a.facebook span,
.entry-share a:visited.twitter span,
.entry-share a:visited.facebook span {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  padding-left: 10px;
}

.entry-share a.google-plus span, .entry-share a.pinterest span,
.entry-share a:visited.google-plus span,
.entry-share a:visited.pinterest span {
  text-indent: -9999em !important;
}

.entry-share a:hover {
  color: #fff;
  opacity: 0.85;
}

.social-twitter {
  background-color: #29c5f6;
}

.social-facebook {
  background-color: #516eab;
}

.social-pinterest {
  background-color: #ca212a;
}

.social-google-plus {
  background-color: #eb4026;
}

.single article.hentry .thumbnail-wrap img {
  width: 100%;
}

.single article.hentry .entry-header {
  margin-bottom: 25px;
}

.single article.hentry .entry-footer {
  padding: 0 40px 40px;
}

.single article.hentry .entry-footer .share-icons {
  display: none;
  margin-top: 20px;
}

.error404 .site-main .entry-thumbnail,
.single-post .site-main .entry-thumbnail,
.page .site-main .entry-thumbnail {
  margin-bottom: 10px;
}

.error404 h1.entry-title,
.single-post h1.entry-title,
.page h1.entry-title {
  font-size: 2.6em;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 25px;
}

.error404 .entry-content label,
.error404 .page-content label {
  display: inline-block;
}

/* Single Newsletter */
.single-newsletter {
  margin-bottom: -1px;
  position: relative;
  z-index: 2;
}

.single-newsletter .header-newsletter .widget-title {
  font-size: 1.7em;
}

.single-newsletter .header-newsletter .newsletter-widget p {
  padding: 0;
}

/* Related  Posts */
.entry-related {
  border-top: 1px solid #e5e5e5;
  margin: 0 40px 5px 40px;
  padding: 35px 0 0 0;
}

.entry-related h3 {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 25px;
}

.entry-related .hentry {
  float: left;
  width: 30%;
  margin: 0 5% 30px 0;
}

.entry-related .hentry.last {
  margin-right: 0;
}

.entry-related .hentry:nth-of-type(3n) {
  margin-right: 0;
}

.entry-related .hentry:nth-of-type(3n+1) {
  clear: left;
}

.entry-related .hentry .entry-title {
  font-size: 16px;
  line-height: 1.15;
  display: table;
}

.entry-related .hentry .entry-meta {
  font-size: 13px;
}

.entry-related .hentry .thumbnail-link {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
}

.entry-related .hentry .wp-post-image {
  width: 100%;
}

.entry-related .hentry .thumbnail-wrap {
  height: auto;
  line-height: 0.8;
}

/* Entry Tags */
.entry-tags a {
  text-decoration: none;
}

.entry-tags span {
  font-size: 13px;
  margin-right: 10px;
}

.entry-tags .tag-links a {
  border: 1px solid #76838b;
  border-radius: 13px;
  display: inline-block;
  color: #76838b;
  font-size: 13px;
  height: 26px;
  line-height: 24px;
  margin: 0 10px 5px 0;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s all;
}

/* Author Box */
.author-box {
  border-top: 1px solid #e5e5e5;
  margin: 0 40px 35px 40px;
  padding: 35px 0 0 0;
}

.author-box .avatar {
  float: left;
  width: 128px;
  height: auto;
  line-height: 1;
  margin: 0 25px 0 0;
}

.author-box .author-meta {
  display: table;
}

.author-box .author-meta .author-name {
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 15px;
}

.author-box .author-meta .author-desc {
  margin-bottom: 5px;
}

/* Entry Content */
.page-content .wp-post-image,
.entry-content .wp-post-image {
  margin-bottom: 15px;
  width: 100%;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  font-weight: 900;
  margin-bottom: 30px;
}

.page-content h1, .page-content h2, .page-content h3,
.entry-content h1,
.entry-content h2,
.entry-content h3 {
  line-height: 1.1;
}

.page-content h4, .page-content h5, .page-content h6,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  line-height: 1.15;
}

.page-content h1,
.entry-content h1 {
  font-size: 1.8em;
}

.page-content h2,
.entry-content h2 {
  font-size: 1.6em;
}

.page-content h3,
.entry-content h3 {
  font-size: 1.4em;
}

.page-content h4,
.entry-content h4 {
  font-size: 1.2em;
}

.page-content h5, .page-content h6,
.entry-content h5,
.entry-content h6 {
  font-size: 1.2em;
}

.page-content p,
.entry-content p {
  line-height: 1.55em;
  margin-bottom: 30px;
}

.page-content ul,
.page-content ol,
.entry-content ul,
.entry-content ol {
  margin: 0 0 30px 0;
}

.page-content ul ul,
.page-content ul ol,
.page-content ol ul,
.page-content ol ol,
.entry-content ul ul,
.entry-content ul ol,
.entry-content ol ul,
.entry-content ol ol {
  margin: 10px 0 0 25px;
}

.page-content ul li,
.entry-content ul li {
  list-style: none;
  margin: 0 0 15px 0;
  padding-left: 18px;
  position: relative;
}

.page-content ul li:hover:before,
.entry-content ul li:hover:before {
  color: #4d626e;
}

.page-content ul li:before,
.entry-content ul li:before {
  border-radius: 3px;
  background-color: #ccc;
  content: " ";
  display: inline-block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 11px;
}

.page-content ul li ul li,
.entry-content ul li ul li {
  list-style: none;
}

.page-content ol li,
.entry-content ol li {
  list-style: inside decimal;
  margin: 0 0 10px 0;
}

.page-content select,
.entry-content select {
  padding: 0 5px;
}

.page-content select:focus, .page-content select:active,
.entry-content select:focus,
.entry-content select:active {
  outline: none;
}

.page-content dl,
.entry-content dl {
  margin-bottom: 20px;
}

.page-content fieldset,
.entry-content fieldset {
  border: 1px solid #e9e9e9;
  margin: 0 2px 20px 2px;
  padding: 0.35em 0.625em 0.75em;
}

.page-content input[type="radio"],
.entry-content input[type="radio"] {
  -webkit-appearance: radio;
}

.page-content input[type="checkbox"],
.entry-content input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.page-content ::-webkit-file-upload-button,
.entry-content ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.page-content label,
.entry-content label {
  font-size: 16px;
  font-weight: bold;
}

.page-content table,
.entry-content table {
  margin-bottom: 20px;
}

.page-content select,
.entry-content select {
  border: 1px solid #e9e9e9;
  font-size: 1em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 2em;
  max-width: 100%;
}

.page-content input[type="text"],
.page-content input[type="email"],
.page-content input[type="url"],
.page-content input[type="search"],
.page-content input[type="password"],
.entry-content input[type="text"],
.entry-content input[type="email"],
.entry-content input[type="url"],
.entry-content input[type="search"],
.entry-content input[type="password"] {
  width: 300px;
}

.page-content input[type="file"],
.entry-content input[type="file"] {
  border: none;
}

.page-content textarea,
.entry-content textarea {
  width: 100%;
  height: 200px;
}

.page-content .wp-caption,
.entry-content .wp-caption {
  background-color: #f7f7f7;
  padding: 0 0 1px 0;
}

.page-content .wp-caption-text,
.entry-content .wp-caption-text {
  font-size: 13px;
  font-style: italic;
  color: #76838b;
}

blockquote {
  color: #999999;
  font-size: 1.2em;
  font-style: italic;
  padding: 0.25em 50px;
  line-height: 1.45;
  position: relative;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 64px;
  position: absolute;
  left: 0;
  top: -15px;
  color: #cccccc;
}

blockquote cite {
  color: #333333;
  display: block;
  margin-top: 10px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.entry-summary,
.author-desc {
  line-height: 1.55em;
}

/*--------------------------------------------------------------
5. Archive/Search Page
--------------------------------------------------------------*/
.archive .site-content {
  margin-top: 50px;
}

.archive.post-type-archive .site-content, .archive.tax-coupon_category .site-content, .archive.tax-coupon_tag .site-content, .archive.woocommerce .site-content, .archive.woocommerce-page .site-content {
  margin-top: 0;
}

.no-results {
  padding: 40px;
}

/*--------------------------------------------------------------
6. Comments
--------------------------------------------------------------*/
.comments-area {
  border-top: 1px solid #e5e5e5;
  margin: 0 40px 0 40px;
  padding: 35px 0 0 0;
}

.comments-title {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 25px;
}

.comment-reply-title {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 25px;
}

.comment-list {
  border-bottom: 1px solid #e9e9e9;
  list-style: none;
  margin: 0 0 25px 0;
}

.comment-author {
  font-size: 0.9em;
}

.comment-meta {
  margin-bottom: 4px;
}

.comment-list .reply,
.comment-metadata {
  font-size: 0.83em;
}

.comment-list .reply {
  margin-top: 10px;
}

.comment-author .fn {
  font-weight: bold;
}

.comment-author a {
  color: #2b2b2b;
}

.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a,
.comment-list .reply a {
  color: #76838b;
  text-decoration: none;
}

.comment-list .trackback a:hover,
.comment-list .pingback a:hover,
.comment-metadata a:hover,
.comment-list .reply a:hover {
  color: #4d626e;
}

.comment-author a:hover {
  color: #4d626e;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  margin: 0 0 20px 0;
}

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
  border-top: 0;
}

.comment-author {
  position: relative;
}

.comment-author .avatar {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: auto;
}

.bypostauthor > article .fn:before {
  color: #fbb034;
  content: "\f408";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px;
}

.says {
  display: none;
}

.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
  padding-left: 64px;
}

.comment-author {
  display: inline;
}

.comment-metadata {
  display: inline;
  margin-left: 7px;
}

.comment-edit-link {
  margin-left: 10px;
}

.comment-edit-link:hover {
  text-decoration: none;
}

#cancel-comment-reply-link:hover {
  text-decoration: none;
}

.comment-edit-link:before {
  content: "\f411";
}

.comment-reply-link:hover {
  text-decoration: none;
}

.comment-reply-link:before,
.comment-reply-login:before {
  content: '\f467';
  color: #aaa;
  margin-right: 2px;
}

.comment-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.comment-content ul,
.comment-content ol {
  margin: 0 0 24px 22px;
}

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

.comment-content > :last-child {
  margin-bottom: 0;
}

.comment-list .children {
  list-style: none;
  margin-left: 64px;
}

.comment .comment-respond {
  margin: 25px 0;
}

.comment-respond h3 {
  margin-top: 0;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
  color: #76838b;
}

.comment-notes a,
.comment-awaiting-moderation a,
.logged-in-as a,
.no-comments a,
.form-allowed-tags a,
.form-allowed-tags code a {
  color: #76838b;
}

.comment-notes a:hover,
.comment-awaiting-moderation a:hover,
.logged-in-as a:hover,
.no-comments a:hover,
.form-allowed-tags a:hover,
.form-allowed-tags code a:hover {
  color: #4d626e;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 10px;
}

.no-comments {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 24px;
  text-transform: uppercase;
}

.comment-form .comment-form-comment,
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
  margin-bottom: 20px;
}

.comment-form textarea {
  width: 100%;
}

.comment-form .comment-form-author {
  float: left;
  width: 48%;
}

.comment-form .comment-form-email {
  float: right;
  width: 48%;
}

.comment-form .comment-form-url {
  clear: both;
  width: 100%;
}

.comment-form:after {
  content: '';
  display: block;
  clear: both;
}

.comment-form .submit {
  font-size: 14px;
  padding: 0 18px;
}

.comment-form label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
  font-size: 12px;
  line-height: 1.5;
}

.required {
  color: #c0392b;
}

.comment-reply-title small a {
  color: #2b2b2b;
  float: right;
  height: 24px;
  overflow: hidden;
  width: 24px;
}

.comment-reply-title small a:before {
  content: "\f405";
  font-size: 20px;
}

.comment-navigation {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
  display: inline-block;
}

.comment-navigation .nav-previous a {
  margin-right: 10px;
}

#comment-nav-above {
  margin-top: 36px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
7. Sidebar
--------------------------------------------------------------*/
.sidebar {
  float: right;
  width: 360px;
}

.sidebar .widget {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 30px;
  transition: all 0.2s ease-in;
}

.sidebar .widget .widget-title {
  font-size: 1.38em;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar .widget p {
  margin-bottom: 15px;
}

.sidebar .widget ul .children,
.sidebar .widget ul .sub-menu {
  padding-left: 1.5em;
}

.sidebar .widget ul .children li:first-child,
.sidebar .widget ul .sub-menu li:first-child {
  padding: 15px 0;
  border-top: 1px solid #e9e9e9;
}

.sidebar .widget ul > li {
  list-style: none;
  margin-bottom: 15px;
  position: relative;
}

.sidebar .widget ul li:last-child {
  margin-bottom: 0;
}

.sidebar .widget select {
  width: 100%;
  max-width: 100%;
}

.sidebar .widget_search input[type='search'] {
  width: 210px;
}

.sidebar .widget_search input[type='submit'] {
  width: 85px;
  text-align: center;
}

.sidebar .widget_social_icons ul li,
.sidebar .widget_posts_thumbnail ul li {
  list-style: none;
}

.sidebar .widget_social_icons ul li:before,
.sidebar .widget_posts_thumbnail ul li:before {
  content: none;
  display: none;
}

.sidebar .widget_posts_thumbnail {
  color: #76838b;
  line-height: 1.3;
}

.sidebar .widget_posts_thumbnail ul > li {
  margin-bottom: 20px;
  padding: 0 !important;
}

.sidebar .widget_posts_thumbnail .thumbnail-wrap,
.sidebar .widget_posts_thumbnail .wp-post-image,
.sidebar .widget_posts_thumbnail img {
  width: 80px;
  height: auto;
}

/* Posts with Thumbnail Widget */
.widget_posts_thumbnail ul li {
  margin: 0 0 20px 0;
}

.widget_posts_thumbnail li:after {
  content: "";
  display: block;
  clear: both;
}

.widget_posts_thumbnail .entry-thumbnail {
  float: left;
}

.widget_posts_thumbnail .entry-wrap {
  display: table;
  line-height: 1.2;
}

.widget_posts_thumbnail .thumbnail-wrap {
  float: left;
  margin: 0 15px 0 0;
  line-height: 0;
}

.widget_posts_thumbnail .entry-meta {
  font-size: 0.9em;
  margin-top: 5px;
}

/* Tag Cloud Widget */
.widget_tag_cloud .tagcloud a {
  border: 1px solid #76838b;
  border-radius: 13px;
  display: inline-block;
  color: #76838b !important;
  font-size: 13px !important;
  height: 26px;
  line-height: 24px;
  margin: 0 10px 5px 0;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all;
}

/* Recent Posts Widget */
/* Categories Widget */
.sidebar,
.site-footer {
  /* Ad Widget */
  /* 125x125 Ad Widget */
  /* Newsletter Widget */
  /* Social Icons Widget */
}

.sidebar .widget_ad .adwidget,
.site-footer .widget_ad .adwidget {
  line-height: 1;
}

.sidebar .widget_125 .widget-title,
.site-footer .widget_125 .widget-title {
  margin-bottom: 5px;
}

.sidebar .widget_125 img,
.site-footer .widget_125 img {
  margin: 10px 0 0 0;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 2px;
  background: #fff;
}

.sidebar .widget_125 span.img-right,
.site-footer .widget_125 span.img-right {
  float: right;
}

.sidebar .widget_newsletter,
.site-footer .widget_newsletter {
  background: -webkit-gradient(linear, left top, right bottom, from(#c26bd6), to(#3123ae));
  background: linear-gradient(to bottom right, #c26bd6 0%, #3123ae 100%);
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 20px;
}

.sidebar .widget_newsletter .widget-title,
.site-footer .widget_newsletter .widget-title {
  background-color: transparent;
  color: #fff !important;
  height: auto;
  line-height: 1;
  padding: 0;
}

.sidebar .widget_newsletter .widget-title span,
.site-footer .widget_newsletter .widget-title span {
  background: none;
}

.sidebar .widget_newsletter .widget-title:after,
.site-footer .widget_newsletter .widget-title:after {
  content: none;
}

.sidebar .widget_newsletter p,
.site-footer .widget_newsletter p {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .widget_newsletter .newsletter-widget,
.site-footer .widget_newsletter .newsletter-widget {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .widget_newsletter .newsletter-widget p,
.site-footer .widget_newsletter .newsletter-widget p {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .widget_newsletter .newsletter-widget input[type="text"],
.sidebar .widget_newsletter .newsletter-widget input[type="email"],
.sidebar .widget_newsletter .newsletter-widget input[type="url"],
.sidebar .widget_newsletter .newsletter-widget input[type="search"],
.sidebar .widget_newsletter .newsletter-widget input[type="password"],
.site-footer .widget_newsletter .newsletter-widget input[type="text"],
.site-footer .widget_newsletter .newsletter-widget input[type="email"],
.site-footer .widget_newsletter .newsletter-widget input[type="url"],
.site-footer .widget_newsletter .newsletter-widget input[type="search"],
.site-footer .widget_newsletter .newsletter-widget input[type="password"] {
  border: none;
  margin: 0 0 10px 0;
}

.sidebar .widget_newsletter .newsletter-widget input,
.sidebar .widget_newsletter .newsletter-widget button,
.site-footer .widget_newsletter .newsletter-widget input,
.site-footer .widget_newsletter .newsletter-widget button {
  width: 100%;
}

.sidebar .widget_social_icons,
.site-footer .widget_social_icons {
  padding: 20px 0;
}

.sidebar .widget_social_icons:before,
.site-footer .widget_social_icons:before {
  display: none;
}

.sidebar .widget_social_icons .widget-title,
.site-footer .widget_social_icons .widget-title {
  background-color: transparent;
  height: auto;
  line-height: 1;
  padding: 0;
  text-align: center;
  margin-bottom: 7px;
}

.sidebar .widget_social_icons .widget-title span,
.site-footer .widget_social_icons .widget-title span {
  background: none;
  padding: 0 10px;
}

.sidebar .widget_social_icons .widget-title:after,
.site-footer .widget_social_icons .widget-title:after {
  content: none;
}

.sidebar .widget_social_icons .desc,
.site-footer .widget_social_icons .desc {
  color: #76838b;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar .widget_social_icons ul,
.site-footer .widget_social_icons ul {
  text-align: center;
}

.sidebar .widget_social_icons ul li,
.site-footer .widget_social_icons ul li {
  border: none;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.sidebar .widget_social_icons ul li a,
.site-footer .widget_social_icons ul li a {
  display: block;
  width: 32px;
  text-align: center;
}

/*--------------------------------------------------------------
7. Footer
--------------------------------------------------------------*/
.footer-columns {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0 10px 0;
}

.footer-columns .section-header {
  font-size: 32px;
  margin-bottom: 20px;
}

.footer-columns .widget {
  margin-bottom: 20px;
}

.footer-columns .widget_posts_thumbnail .thumbnail-wrap,
.footer-columns .widget_posts_thumbnail .wp-post-image,
.footer-columns .widget_posts_thumbnail img {
  width: 80px;
  height: auto;
}

.footer-columns .footer-column-1,
.footer-columns .footer-column-2,
.footer-columns .footer-column-3,
.footer-columns .footer-column-4 {
  float: left;
  width: 22%;
  margin: 0 4% 0 0;
  box-sizing: content-box;
  position: relative;
}

.footer-columns .footer-column-4 {
  margin-right: 0;
}

.site-footer {
  border-bottom: 5px solid;
}

.site-footer .widget {
  color: #fff;
  font-size: 0.9em;
  margin-bottom: 25px;
}

.site-footer .widget a {
  color: #fff !important;
}

.site-footer .widget .widget-title {
  color: #fff;
  font-size: 1.4em;
  margin-bottom: 15px;
}

.site-footer .widget p {
  margin-bottom: 15px;
}

.site-footer .widget ul .children,
.site-footer .widget ul .sub-menu {
  padding-left: 1.5em;
}

.site-footer .widget ul .children li:first-child,
.site-footer .widget ul .sub-menu li:first-child {
  border-top: none;
  padding-top: 0;
}

.site-footer .widget ul .children li:last-child,
.site-footer .widget ul .sub-menu li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.site-footer .widget ul > li {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.site-footer .widget ul > li a {
  text-decoration: none;
}

.site-footer .widget ul > li a:hover {
  text-decoration: underline;
}

.site-footer .widget ul li:first-child {
  border-top: none;
  padding-top: 0;
}

.site-footer .widget ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.site-footer .widget select {
  width: 100%;
  max-width: 100%;
}

.site-footer .widget_posts_thumbnail ul li {
  margin-bottom: 20px;
}

.site-footer .widget_posts_thumbnail .thumbnail-wrap {
  line-height: 0.5;
}

.site-footer .widget_posts_thumbnail .entry-meta {
  color: rgba(255, 255, 255, 0.7);
}

.site-footer .widget_search input[type='search'] {
  width: 100%;
  margin-bottom: 10px;
}

.site-footer .widget_search input[type='submit'] {
  width: 100%;
}

.site-footer .widget_tag_cloud .tagcloud a {
  border-color: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

/* Back to top button */
#back-top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 60px;
}

#back-top a {
  text-decoration: none;
}

#back-top a span {
  background-color: #fff;
  border: 2px solid;
  border-radius: 5px;
  font-size: 24px;
  width: 42px;
  height: 42px;
  display: block;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: 0.3s all;
}

#back-top a:hover {
  text-decoration: none;
}

/* Site Bottom */
#site-bottom {
  color: #fff;
  font-size: 0.9em;
  padding: 20px 0;
}

#site-bottom a {
  color: #fff;
  text-decoration: none;
}

#site-bottom a:hover {
  text-decoration: underline;
}

#site-bottom .site-info {
  float: left;
}

#site-bottom .footer-nav {
  float: right;
}

#site-bottom .footer-nav li {
  display: inline-block;
  list-style: none;
  line-height: 1;
  margin-right: 15px;
  padding-right: 15px;
}

#site-bottom .footer-nav li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

#site-bottom .footer-nav li li {
  display: none;
}

/*--------------------------------------------------------------
9. Misc.
--------------------------------------------------------------*/
#wpadminbar ul#wp-admin-bar-root-default > li.happythemes a {
  background-color: #94C03B;
  color: #fff;
}

#wpadminbar ul#wp-admin-bar-root-default > li.happythemes a:hover {
  opacity: 0.9;
}

.box-shadow, .content-loop .hentry, #featured-content .featured-loop .hentry, .coupon-loop {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-in;
}

.box-shadow:hover, .content-loop .hentry:hover, #featured-content .featured-loop .hentry:hover, .coupon-loop:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}

.single-coupon #coupon-content,
.content-shadow {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-in;
}

.single-coupon #coupon-content:hover,
.content-shadow:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
}

.newsletter-example {
  margin: 20px 0 40px;
  text-align: center;
}

.newsletter-example h3 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
}

/*
	The "click to copy" function does not work in Safari
	We need to hide the "Copy" button on the popup form
*/
_::-webkit-full-page-media .header-search .search-submit, _:future .header-search .search-submit, :root .header-search .search-submit {
  right: -2px;
}

_::-webkit-full-page-media .coupon-form .code-box, _:future .coupon-form .code-box, :root .coupon-form .code-box {
  text-align: center;
}

_::-webkit-full-page-media .coupon-form .code-box button, _:future .coupon-form .code-box button, :root .coupon-form .code-box button {
  display: none;
}

/* CSS3 Effects */
.full-width {
  float: none;
  width: 100% !important;
}

img {
  -webkit-backface-visibility: hidden;
}

.section-header {
  margin-bottom: 30px;
  position: relative;
}

.section-header h3 {
  font-weight: 900;
  font-size: 1.8em;
}

.section-header h3 span {
  background-color: #fafafa;
  padding: 0 20px 0 0;
  position: relative;
  z-index: 2;
}

.section-header h3:after {
  border-top: 4px solid #f0f0f0;
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 15px;
}

#featured-content .featured-loop .hentry {
  float: left;
  width: 48%;
  margin: 0 4% 40px 0;
  position: relative;
}

#featured-content .featured-loop .hentry:nth-of-type(2n) {
  margin-right: 0;
}

#featured-content .featured-loop img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
}

#featured-content .featured-loop .thumbnail-link {
  display: block;
}

#featured-content .featured-loop .entry-header {
  padding: 15px 30px 35px;
}

#featured-content .featured-loop .entry-meta {
  margin-bottom: 15px;
}

#featured-content .featured-loop .entry-meta .sep {
  color: #bbb;
  padding: 0 7px;
}

#featured-content .featured-loop .entry-meta .entry-date {
  color: #76838b;
}

#featured-content .featured-loop .entry-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.15;
}

#featured-content .featured-loop .entry-category a {
  font-weight: bold;
}

#featured-content .read-more {
  margin: 0 0 50px 0;
  text-align: center;
}

#featured-content .read-more:before {
  content: " ";
  display: block;
  clear: both;
}

/* Coupon Page */
#featured-coupons {
  position: relative;
  margin-bottom: 20px;
}

#featured-coupons .read-more {
  margin: 20px 0 60px 0;
  text-align: center;
}

#featured-coupons .read-more:before {
  content: " ";
  display: block;
  clear: both;
}

.coupons-page-header {
  background-color: #2da6e9;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.coupons-page-header h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 20px;
}

.coupon-nav {
  margin: 25px 0 0 0;
}

.coupon-nav ul {
  margin: 0;
  padding: 0;
}

.coupon-nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 2px 5px 2px;
  padding: 0;
}

.coupon-nav ul li a {
  background-color: #fff;
  border-radius: 3px;
  color: #76838b;
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  padding: 1px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.coupon-nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #4d626e;
}

.coupon-nav ul li.current a,
.coupon-nav ul li.active a {
  color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.coupon-loop {
  margin-bottom: 20px;
  padding: 40px;
}

.coupon-loop .type-coupon {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.coupon-loop .type-coupon:last-child, .coupon-loop .type-coupon.last {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.coupon-loop .type-coupon .thumbnail-link {
  float: left;
  display: block;
  margin: 0 25px 0 0;
  width: 151px;
  height: 151px;
  line-height: 1;
  position: relative;
}

.coupon-loop .type-coupon .wp-post-image {
  display: block;
  margin: auto;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.coupon-loop .type-coupon .entry-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 15px;
}

.coupon-loop .type-coupon .coupon-more {
  margin-left: 5px;
}

.coupon-loop .type-coupon .coupon-more a {
  font-weight: bold;
}

.coupon-loop .type-coupon:after {
  content: " ";
  clear: both;
  display: block;
}

.coupon-area {
  text-align: center;
  position: relative;
}

.coupon-area strong {
  position: relative;
  margin: 0 20px 0 0;
  top: 3px;
  text-transform: uppercase;
}

.coupon-area form {
  display: inline;
  display: inline-block;
}

.coupon-area .coupon-code {
  background: url("/wp-content/themes/keyword/assets/img/scissors.png") no-repeat 13px center;
  background-size: 16px 16px;
  border: 2px solid;
  border-radius: 5px;
  color: #4d626e;
  display: inline-block;
  height: 40px;
  line-height: 37px;
  padding: 0 12px 0 38px;
  font-size: 1em;
  font-weight: bold;
  height: auto !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.coupon-area .coupon-code:hover {
  color: #4d626e;
}

.coupon-area span {
  color: #76838b;
  font-size: 13px;
  margin-left: 15px;
}

.coupon-area .show-code {
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  padding: 0 20px;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

.single-coupon .site-content {
  margin-top: 50px;
}

.single-coupon #coupon-content .type-coupon {
  padding: 40px;
}

.single-coupon #coupon-content .thumbnail-link {
  float: left;
  display: block;
  margin: 0 25px 0 0;
  width: 200px;
  height: 200px;
  line-height: 1;
  position: relative;
}

.single-coupon #coupon-content .wp-post-image {
  display: block;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.single-coupon #coupon-content .entry-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.single-coupon #coupon-content .entry-summary {
  display: table;
}

.single-coupon #coupon-content .coupon-area {
  border: 1px dashed #ccc;
  border-radius: 10px;
  margin: 40px 0;
  padding: 25px 20px;
  transition: 0.3s all;
}

.related-coupons {
  margin-top: 50px;
}

.coupon-form {
  display: none;
}

.coupon-form h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 25px;
  text-align: center;
}

.coupon-form p.go-link {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 15px;
  text-align: center;
}

.coupon-form .code-box {
  border: 1px dashed #ccc;
  border-radius: 6px;
  display: block;
  line-height: 1;
  margin: 0 auto 15px auto;
  padding: 5px;
  width: 400px;
  height: 52px;
  position: relative;
}

.coupon-form .code-box .code {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
  vertical-align: middle;
}

.coupon-form .code-box button {
  color: #fff;
  font-size: 1em;
  height: 40px;
  position: absolute;
  right: 5px;
  min-width: 90px;
  text-transform: uppercase;
}

.coupon-form .code-post {
  border-top: 1px solid #e9e9e9;
  margin: 25px 0 0 0;
  padding: 25px 0 0 0;
}

.coupon-form .code-post .entry-title {
  font-size: 1em;
  margin-bottom: 10px;
}

.coupon-form .code-post .entry-summary {
  color: #666;
}

.coupon-form .code-post .entry-summary p {
  font-size: 0.9em;
  margin-bottom: 0;
}

.coupon-form .popup-footer {
  border-top: 1px solid #e9e9e9;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}

.coupon-form .share-icons {
  float: left;
}

.coupon-form .share-icons a {
  color: #fff;
}

.coupon-form .share-icons a:hover {
  text-decoration: none;
}

.coupon-form .more-coupons-link {
  font-size: 0.9em;
  line-height: 32px;
  text-align: center;
}

/* Mobile Menu */
.mobile-menu-icon {
  display: none;
  position: absolute;
  top: 20px;
  right: 40px;
}

.mobile-menu-icon .menu-icon-close,
.mobile-menu-icon .menu-icon-open {
  color: #4d626e;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 0 8px;
  min-width: 60px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.mobile-menu-icon .menu-icon-close:hover,
.mobile-menu-icon .menu-icon-open:hover {
  opacity: 0.85;
}

.mobile-menu-icon .menu-icon-close {
  display: none;
}

.mobile-menu-icon .menu-icon-close .genericon {
  margin-top: -2px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  vertical-align: middle;
}

.mobile-menu-icon .menu-icon-open.active {
  display: none;
}

.mobile-menu-icon .menu-icon-close {
  display: none;
}

.mobile-menu-icon .menu-icon-close.active {
  display: inline-block;
}

.mobile-menu {
  background-color: #f7f7f7;
  display: none;
  position: absolute;
  width: 100%;
  top: 70px;
  padding: 25px 0;
  z-index: 9999;
}

.mobile-menu .menu-left,
.mobile-menu .menu-right {
  float: left;
  width: 50%;
}

.mobile-menu h3 {
  color: #4d626e;
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.mobile-menu ul li {
  display: block;
  list-style: none;
  margin-bottom: 15px;
}

.mobile-menu ul li:hover:before {
  color: red;
}

.mobile-menu ul li:before {
  font-family: "genericons";
  content: '\f428';
  color: #76838b;
  font-size: 15px;
  margin-left: -4px;
  padding-right: 2px;
  vertical-align: middle;
  text-align: left;
}

.mobile-menu ul li:last-child {
  margin-bottom: 0;
}

.mobile-menu ul li.menu-item-home {
  display: none;
}

.mobile-menu ul li a {
  color: #666;
  font-size: 14px;
}

/* Mobile Search */
.search-icon {
  display: none;
  position: absolute;
  top: 24px;
  right: 10px;
}

.search-icon:hover {
  cursor: pointer;
}

.search-icon span {
  color: #4d626e;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}

.search-icon .genericon-search.active {
  display: none;
}

.search-icon .genericon-close {
  display: none;
}

.search-icon .genericon-close.active {
  display: inline-block;
}

/* Slick Nav */
.slicknav_menu,
#slick-mobile-menu {
  display: none;
}

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  cursor: pointer;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}

.slicknav_menu {
  *zoom: 1;
}

.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 18px;
  float: right;
}

.slicknav_menu .slicknav_icon {
  float: left;
  width: 1.125em;
  height: 0.875em;
  margin: 0.188em 8px 0 0;
}

.slicknav_menu .slicknav_icon:before {
  background: transparent;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute;
}

.slicknav_menu .slicknav_no-text {
  margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.slicknav_menu:before {
  content: " ";
  display: table;
}

.slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}

.slicknav_nav {
  clear: both;
}

.slicknav_nav ul, .slicknav_nav li {
  display: block;
}

.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  color: #4d626e;
  margin: 0 20px 0 0.4em;
  float: right;
}

.slicknav_nav .slicknav_item {
  cursor: pointer;
}

.slicknav_nav .slicknav_item a {
  display: inline;
}

.slicknav_nav .slicknav_row, .slicknav_nav a {
  display: block;
}

.slicknav_nav .slicknav_parent-link a {
  display: inline;
}

.slicknav_brand {
  float: left;
}

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
}

.slicknav_menu * {
  box-sizing: border-box;
}

.slicknav_menu .slicknav_menutxt {
  color: #4d626e;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slicknav_menu .slicknav_menutxt:hover {
  color: #4d626e;
}

.slicknav_menu .slicknav_icon-bar {
  background-color: #4d626e;
}

.slicknav_btn {
  height: 20px;
  margin: 31px 40px 24px;
  text-decoration: none;
}

.slicknav_nav {
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
  position: relative;
  z-index: 999;
  box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
  -webkit-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
}

.slicknav_nav .sub-menu {
  text-indent: 20px;
}

.slicknav_nav .sub-menu .sub-menu {
  text-indent: 40px;
}

.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 0;
}

.slicknav_nav .slicknav_row {
  padding: 0;
  margin: 0;
}

.slicknav_nav a {
  padding: 0 0 0 20px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
  text-decoration: none;
  color: #4d626e;
  height: 42px;
  line-height: 42px;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  -webkit-backface-visibility: hidden;
}

.slicknav_nav a:hover {
  background-color: #f6f6f6;
}

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}

.slicknav_nav .slicknav_item a {
  padding: 0 0 0 20px;
  margin: 0;
  border-bottom: none;
}

.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}

.slicknav_menu {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 70px;
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -moz-transition: all .1s ease;
}

.slicknav_btn {
  display: inline-block;
}

#slick-mobile-menu {
  width: 100%;
}

/**
 * Header cart
 */
.header-cart {
  position: absolute;
  line-height: 74px;
  right: 35px;
}

.header-cart:hover .cart-data .count {
  color: #fff;
}

.header-cart:hover .cart-data .count:after {
  height: 10px;
}

.header-cart:hover > .widget_shopping_cart {
  visibility: visible;
  opacity: 1;
}

.header-cart .cart-box {
  display: block;
}

.header-cart .cart-box a {
  display: inline-block;
  color: #76838b;
  text-decoration: none;
}

.header-cart .cart-box a:hover .total {
  color: #4d626e;
}

.header-cart .cart-box a .total {
  color: #76838b;
}

.header-cart .cart-box .total {
  display: inline-block;
  margin-right: 7px;
  font-size: 14px;
  text-transform: uppercase;
}

.header-cart .widget_shopping_cart {
  position: absolute;
  top: 75px;
  right: -35px;
  visibility: hidden;
  width: 300px;
  padding: 25px;
  line-height: 1.55em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-align: left;
  opacity: 0;
  color: #444;
  background-color: #fff;
  box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
  -webkit-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
  z-index: 10;
}

.header-cart .widget_shopping_cart .cart_list {
  margin-top: -15px;
  padding: 0;
}

.header-cart .widget_shopping_cart .cart_list li {
  padding: 15px 0 15px 30px;
  border-bottom: 1px solid #e5e5e5;
}

.header-cart .widget_shopping_cart .cart_list li::before {
  content: "";
}

.header-cart .widget_shopping_cart .cart_list li a.remove {
  font-size: 1em;
  top: 31px;
  color: #ef3f32;
  text-decoration: none;
}

.header-cart .widget_shopping_cart .cart_list li a.remove::before {
  color: #ef3f32;
}

.header-cart .widget_shopping_cart .cart_list li.empty {
  padding: 0;
  text-align: center;
  border: 0;
}

.header-cart .widget_shopping_cart .cart_list a {
  font-size: 0.9em;
  line-height: 1;
  padding-bottom: 3px;
  padding-right: 0;
  text-decoration: none;
}

.header-cart .widget_shopping_cart .cart_list a:hover {
  color: #4d626e;
}

.header-cart .widget_shopping_cart .cart_list a img {
  width: 48px;
}

.header-cart .widget_shopping_cart .cart_list .quantity {
  color: #76838b;
  font-size: 14px;
  font-weight: normal;
}

.header-cart .widget_shopping_cart .cart_list .quantity .amount {
  color: #76838b;
  font-size: 1em;
}

.header-cart .widget_shopping_cart .total {
  color: #4d626e;
  font-size: 1em;
  border: 0;
  margin: 10px 0 20px;
  text-transform: none;
}

.header-cart .widget_shopping_cart .total .amount {
  font-weight: bold;
}

.header-cart .widget_shopping_cart p.buttons {
  margin: 0;
  padding: 0;
}

.header-cart .widget_shopping_cart p.buttons a {
  margin: 0;
  width: 48%;
  text-align: center;
}

.header-cart .widget_shopping_cart p.buttons a.wc-forward {
  margin-left: 2%;
}

.header-cart .widget_shopping_cart p.buttons a.wc-forward:not(.checkout) {
  margin-right: 2%;
  margin-left: 0;
}

.header-cart .widget_shopping_cart p.buttons a.wcppec-cart-widget-button {
  display: inline-block;
  margin-top: 10px;
}
